# exclude all caches
__pycache__/

# exclude figures
figures/

# exclude backup of .gitignore
.gitignore~

# exclude trash folder
OLD/
OLD2/

# exclude event_configs
event_configs/

# exclude development prototypes
examples/DEV*.ipynb

# non relevant events
data/eventM*.mseed

# output files
output/
