
# exclude all caches
__pycache__/

# exclude figures
figures/

# exclude backup of .gitignore
.gitignore~

# exclude trash folder
OLD/

# exclude event_configs
event_configs/

# exclude development prototypes
examples/DEV*.ipynb
